h1 {
    color: black;
    text-align: center;
}
.gr1 {
    text-align: center;
}
.bg {
    background-color: aliceblue;
    background-image:url(images/repeatingimg);
    color:aliceblue
}
.container {
    width: 50%;
    max-width: 700px;
    margin: 0 auto
    }

.box {
    background: pink;
    background-image: url(images/wtable);
    padding: 80px;
    background-size: contain;
}

#burger {
    font-size: 22px;
}
.paddydisc {
    color: rgb(253, 253, 253);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#sweetpotato {
    font-size: 22px;
}
.potato {
    color: rgb(255, 255, 255);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

#sauceid {
    font-size: 22px;
}
.sauce {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:rgb(255, 255, 255)
}

.class {
    font-size: 16px;
}